<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:planets, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:planets, :new) %></li>
  <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:planets, :edit, :id => @planet.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :planet, url(:planets, :update, :id => @planet.id), :method => :put, :class => 'form-horizontal' do |f| %>
    <%= partial 'planets/form', :locals => { :f => f } %>
  <% end %>
</div>
