<script type="text/javascript">
$(function(){

  $("#code").click(function(){
      this.src = "/mobile_admin/mobile_login/code_image?s=" + Math.random();
    })
})
    
</script>
</head>
<body>
<div data-role="page" id="login">
  <div data-role="header" data-theme="b">
  <h1>速达易</h1>
  <img src="/mobile_admin/mobile_login/code_image" id="code"/>
  </div>
  <div data-role="content" style="text-align:center;margin-top:100px;" >
    <form method="post" action="a.php" id="form" >
    <input type="text" name="user" id="user" placeholder="请输入账户">
    <input type="password" name="pwd" id="pwd" placeholder="请输入密码">
  	<input type="button" value="登陆" data-inline="true" id="log_in">
  	<a href="../../mobile_admin/mobile_reg" data-ajax="false"><input type="button" value="注册" data-inline="true" ></a>
    <input type="button" value="找回" data-inline="true" id="forget">
	</form>
  </div>
