<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:lang_dicts, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:lang_dicts, :new) %></li>
  <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:lang_dicts, :edit, :id => @lang_dict.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :lang_dict, url(:lang_dicts, :update, :id => @lang_dict.id), :method => :put, :class => 'form-horizontal' do |f| %>
    <%= partial 'lang_dicts/form', :locals => { :f => f } %>
  <% end %>
</div>
