
<!--Content Block-->
<section class="content-wrapper">
	<div class="content-container container">
		<div class="breadcrum-container">
			<ul>
				<li><a href="#" title="Home">404</a></li>
				<li>亲，抱歉，您请求的网站找不到</li>
			</ul>
		</div>
		<div class="main">
			<div class="error-container">
				<h1>404</h1>
				<p>亲，抱歉，您请求的网站找不到</p>
				<div class="f-fix">
					<a href="index_2" title="Back To Home" class="colors-btn">返回首页</a>
					<a href="#" title="Go to Sitemap" class="colors-btn">去导航</a>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		
<!--Footer Block-->
