
<!--Content Block-->
<section class="content-wrapper">
	<div class="content-container container">
		<div class="col-main-left">
			<h1 class="page-title">关于甜购</h1>
			<div class="about-banner"> <%= image_tag @image_item.url if @image_item.url? %><div class="clear"></div></div>
			<div class="block-01">
				<h4>轻便购物的提倡者</h4>
				<p>去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简去繁化简</p>
			</div>
			<div class="superquote">
				<p>重视送货速度重视送货速度重视送货速度重视送货速度重视送货速度重视送货速度重视送货速度重视送货速度重视送货速度重视送货速度重视送货速度重视送货速度重视送货速度重视送货速度重视送货速度重视送货速度重视送货速度重视送货速度重视送货速度重视送货速度重视送货速度重视送货速度</p>
			</div>
			<div class="block-01">
				<p>
				社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠社交化优惠
				</p>
				<ul class="listing-block">
					<li>
						<strong>交朋友是划算的</strong>
						<ul>
							<li>交朋友是划算的</li>
							<li>交朋友是划算的</li>
							<li>交朋友是划算的</li>
							<li>为人民编程，而不是极客</li>
						</ul>
					</li>
					<li>
						<strong>易以扩展，高度定制</strong>
						<ul>
							<li>重视设计</li>
							<li>客户体验至上</li>
							<li>重视线下资源整合</li>
						</ul>
					</li>
					<li>
						
					</li>
				</ul>
			</div>
			
		</div>
		<aside class="right-sidebar">
			<div class="block widget-searchwidget">
				<input type="text" value="Type to search..." />
			</div>
			<div class="block widget-img">
				<a href="#" title=""><img src="images/125.jpg"></a>
				<a href="#" title=""><img src="images/125.jpg"></a>
				<a href="#" title=""><img src="images/125.jpg"></a>
				<a href="#" title=""><img src="images/125.jpg"></a>
			</div>
			
			<div class="block social-block">
				<span class='st_sharethis'></span>
                <span class='st_facebook'></span>
                <span class='st_amazon_wishlist'></span>
                <span class='st_delicious'></span>
                <span class='st_blogger'></span>
                <span class='st_googleplus'></span>
                <span class='st_twitter'></span>
                <span class='st_linkedin'></span>
                <span class='st_pinterest'></span>
                <span class='st_email'></span>
                <script type="text/javascript">var switchTo5x=false;</script>
				<script type="text/javascript" src="../../../w.sharethis.com/button/buttons.js"></script>
				<script type="text/javascript">stLight.options({publisher: "20635c27-623e-4e91-8489-7537a83b882b"});</script>
			</div>
		</aside>
		<div class="clearfix"></div>
		
<!--Footer Block-->
