
<!--Content Block-->
<section class="content-wrapper">
	<div class="content-container container">
		<div class="main">
			<h1 class="page-title">登录或者创建一个新的帐号</h1>
			<div class="account-login">
				<div class="col-1 new-users">
					<div class="content">
						<h2>新用户</h2>
						<p>亲，有了帐号，您就可以更快速购买的商品了，拥有更多优惠，甚至您可以挣到一部分额外收入哦</p>
					</div>
					<div class="buttons-set">
						<a class="colors-btn" title="Create an Account" href="account_create"><span><span>立即注册一个帐号</span></span></a>
						<div class="clear"></div>
					</div>
				</div>
				<div class="col-2 registered-users">
					<div class="content">
						<h2>已有帐号的亲们</h2>
						<p>马上登录吧</p>
							   <% form_tag url(:login), :class=>"login form-horizontal" do %>
						<ul class="form-list">
							<li>
								<label class="required" for="email">邮箱<em>*</em></label>
								<div class="input-box">
									<%= email_field_tag :email, :id => :email, :value => params[:email], :autofocus => true, :class => 'form-control' %>
								</div>
								<div class="clear"></div>
							</li>
							<li>
								<label class="required" for="pass">密码<em>*</em></label>
								<div class="input-box">
									<%= password_field_tag :password, :id => :password, :class => 'form-control' %>
									  <label class="login-bypass-label checkbox"><%= check_box_tag :bypass %> 记住我</label>
									  <p><%= @flash %></p>
								</div>

								<div class="clear"></div>
							</li>
						</ul>
						<p class="required">* 必要选项</p>
					</div>
					<div class="buttons-set">
						<a class="f-left" href="#">忘记密码?</a>
						<button type='submit' class="colors-btn"  title="Login"><span><span>立即登录</span></span></button>
						<div class="clear"></div>
					</div>
					<% end %>
            	</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clearfix"></div>
		
<!--Footer Block-->
