<div data-role="fieldcontain">
  	<label for="user">登陆名：</label>
  	<input type="text" name="user" id="user">
  	<p class="user"></p>
    <label for="tel">手机号：</label>
    <input type="text" name="tel" id="tel">
    <p class="tel"></p>
    <label for="pwd">登陆密码：</label>
    <input type="password" name="pwd" id="pwd">
    <p class="pwd"></p>
    <label for="apwd">确认密码：</label>
    <input type="password" name="apwd" id="apwd">
    <p class="apwd"></p>
 	</div>

  <fieldset data-role="controlgroup">
        <input type="radio" name="radio-choice-1" id="radio-choice-1" value="choice-1" checked="checked">
        <label for="radio-choice-1">供应商-上传商品有人帮你卖 </label>
        <input type="radio" name="radio-choice-1" id="radio-choice-2" value="choice-2">
        <label for="radio-choice-2">代理商-加盟速达易配送网</label>
  </fieldset>