
<body>
<div data-role="page">
 <div data-role="header" data-theme="b">
  <h1>速达易</h1>
  </div>
<link rel="stylesheet" href="style/public.css">
  <div data-role="content" >
    <h1 style="text-align:center">代理商</h1>
    <p>这个按钮进入就让它上货！也就是进入ABCD图片选择那页，等他捣鼓完了才告诉他无法发布，因为没有认证！这个按钮进入就让它上货！也就是进入ABCD图片选择那页，等他捣鼓完了才告诉他无法发布，因为没有认证！这个按钮进入就让它上货！也就是进入ABCD图片选择那页，等他捣鼓完了才告诉他无法发布，因为没有认证！这个按钮进入就让它上货！也就是进入ABCD图片选择那页，等他捣鼓完了才告诉他无法发布，因为没有认证！这个按钮进入就让它上货！也就是进入ABCD图片选择那页，等他捣鼓完了才告诉他无法发布，因为没有认证！这个按钮进入就让它上货！也就是进入ABCD图片选择那页，等他捣鼓完了才告诉他无法发布，因为没有认证！这个按钮进入就让它上货！也就是进入ABCD图片选择那页，等他捣鼓完了才告诉他无法发布，因为没有认证！这个按钮进入就让它上货！也就是进入ABCD图片选择那页，等他捣鼓完了才告诉他无法发布，因为没有认证！这个按钮进入就让它上货！也就是进入ABCD图片选择那页，等他捣鼓完了才告诉他无法发布，因为没有认证！这个按钮进入就让它上货！也就是进入ABCD图片选择那页，等他捣鼓完了才告诉他无法发布，因为没有认证！这个按钮进入就让它上货！也就是进入ABCD图片选择那页，等他捣鼓完了才告诉他无法发布，因为没有认证！这个按钮进入就让它上货！也就是进入ABCD图片选择那页，等他捣鼓完了才告诉他无法发布，因为没有认证！这个按钮进入就让它上货！也就是进入ABCD图片选择那页，等他捣鼓完了才告诉他无法发布，因为没有认证！这个按钮进入就让它上货！也就是进入ABCD图片选择那页，等他捣鼓完了才告诉他无法发布，因为没有认证！这个按钮进入就让它上货！也就是进入ABCD图片选择那页，等他捣鼓完了才告诉他无法发布，因为没有认证！这个按钮进入就让它上货！也就是进入ABCD图片选择那页，等他捣鼓完了才告诉他无法发布，因为没有认证！这个按钮进入就让它上货！也就是进入ABCD图片选择那页，等他捣鼓完了才告诉他无法发布，因为没有认证！这个按钮进入就让它上货！也就是进入ABCD图片选择那页，等他捣鼓完了才告诉他无法发布，因为没有认证！这个按钮进入就让它上货！也就是进入ABCD图片选择那页，等他捣鼓完了才告诉他无法发布，因为没有认证！这个按钮进入就让它上货！也就是进入ABCD图片选择那页，等他捣鼓完了才告诉他无法发布，因为没有认证！</p>
     <label>
        <input type="checkbox" name="checkbox-0 ">我愿意签约成为速达易的供应商
    </label>
    <a href="agency.html" data-ajax="false"><input type="button" value="下一步"></a>
  </div>

  