
<style type="text/css">
	p{color:red;}
</style>
</head>
<body>
<div data-role="page">
  <div data-role="header" data-theme="b">
  <h1>速达易</h1>
  </div>
<%= javascript_include_tag 'rule'%>

  <div data-role="content">
      <% form_for :account, url(:mobile_reg, :create), :class => 'form-horizontal' do |f| %>
    <%= partial 'mobile_reg/form', :locals => { :f => f } %>
    <% end %>

 	<input type="button" value="注册" id="finish">
 	
 	 <div class="button" style="text-align:center;">
 	 	<input type="button" value="其他方式注册"  data-theme="d"  data-ajax="false" >
 	 </div>
  	</div>
  	
