<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:thumbups, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:thumbups, :new) %></li>
  <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:thumbups, :edit, :id => @thumbup.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :thumbup, url(:thumbups, :update, :id => @thumbup.id), :method => :put, :class => 'form-horizontal' do |f| %>
    <%= partial 'thumbups/form', :locals => { :f => f } %>
  <% end %>
</div>
