<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:massages, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:massages, :new) %></li>
</ul>
<div class="tabs-content">
  <% form_for :massage, url(:massages, :create), :class => 'form-horizontal' do |f| %>
    <%= partial 'massages/form', :locals => { :f => f } %>
 <% end %>
</div>
