<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:content_pics, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:content_pics, :new) %></li>
</ul>
<div class="tabs-content">
  <% form_for :content_pic, url(:content_pics, :create), :class => 'form-horizontal' do |f| %>
    <%= partial 'content_pics/form', :locals => { :f => f } %>
 <% end %>
</div>
