	<html>
	<head>	
	<%= javascript_include_tag 'jquery-1.8.2.min' %>
		<script type="text/javascript">
		</script>
	</head>
	<body>
	<form method="post" enctype="multipart/form-data" id="my_form" action="/common/test1"> 
		<input type="file" id="upload" name="url"/>
		<input type="submit" value="ok" id="commit"/>
	</form>
	</body>
</html>
